.issueItem {
    width: calc(100% - 10px);
    border: 1px solid;
    text-align: left;
    padding: 2px 0
}

.issueItem.selected{
    background-color: yellow;
}

.issueItem:hover{
    background-color: bisque;
}

.summaryField {
    width: calc(60% - 5px);
    text-align: right;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
}

.sPField {
    width: 5%;
    display: inline-block;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.calcSpField {
    width: 5%;
    display: inline-block;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.no_of_sprints {
    width: 5%;
    display: inline-block;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.labelsField {
    width: 15%;
    display: inline-block;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
}

